- name: Check secret
  run: echo "SECRET IS: $BOT_TOKEN"
  name: Fortnite Shop Bot

on:
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Установка Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Установка библиотек
        run: |
          pip install requests pillow pytelegrambotapi

      - name: Запуск бота
        run: |
          python shop_bot.py
          
